:root{
    --mainColor:rgb(1, 2, 2);
    --secondaryColor:#070a0e;
    --borderColor:#164D56;

    --mainText:#FFF;
    --secondaryText:#FFF;
    --themeDotBorder:#FFF;

    --previewBG:rgba(52, 25, 48, 0.8);
    --previewShadow:#0c121d;

    --btnColor:#3e9edd;
}
