:root{
    --mainColor:skyblue;
    --secondaryColor:#90c4ee;
    --borderColor:#164D56;

    --mainText:black;
    --secondaryText:black;
    --themeDotBorder:#FFF;

    --previewBG:rgba(52, 25, 48, 0.8);
    --previewShadow:#58b3cf;

    --btnColor:#3e9edd;
}
