:root{
    --mainColor:rgb(170, 220, 240);
    --secondaryColor:#a5d0f3;
    --borderColor:#164D56;

    --mainText:black;
    --secondaryText:black;
    --themeDotBorder:#FFF;

    --previewBG:rgba(52, 25, 48, 0.8);
    --previewShadow:#6bbcd4;

    --btnColor:#3e9edd;
}
